<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style-1.css">
</head>
<body>
    <nav>
        <a href="#" class="nav-logo">LOGO</a>
        <div class="nav-menu">
            <a href="#" class="nav-link">Link</a>
            <a href="#" class="nav-link">Link</a>
            <a href="#" class="nav-link">Link</a>
            <a href="#" class="nav-link">Link</a>
        </div>
    </nav>
    <header>
        <img src="https://picsum.photos/id/237/800/400" alt="">
    </header>
    <section id="about">
        <div class="container row">
            <div class="about-col">
                <h3>about title</h3>
                <p>
                    技術相同十分則是無論基層屏幕年代進一步前進分配忍不住不能，轉帖魅力家長目錄一口氣信號都要多麼編輯主動，加油眼神安全某些麻煩歐洲它的都能友情連結以來出租也在，瘋。
                </p>
            </div>
            <div class="about-col">
                <h3>about title</h3>
                <p>
                    技術相同十分則是無論基層屏幕年代進一步前進分配忍不住不能，轉帖魅力家長目錄一口氣信號都要多麼編輯主動，加油眼神安全某些麻煩歐洲它的都能友情連結以來出租也在，瘋。
                </p>
            </div>
            <div class="about-col">
                <h3>about title</h3>
                <p>
                    技術相同十分則是無論基層屏幕年代進一步前進分配忍不住不能，轉帖魅力家長目錄一口氣信號都要多麼編輯主動，加油眼神安全某些麻煩歐洲它的都能友情連結以來出租也在，瘋。
                </p>
            </div>
        </div>
    </section>
    <section id="news">
        <div class="container row">
            <div class="news-col">
                <div class="news-card">
                    <div class="news-header">
                        <img src="https://picsum.photos/id/93/500" alt="">
                    </div>
                    <div class="news-body">
                        <h3>卡片標題</h3>
                        <p>
                            決定主題，當中人數但我特性，鈴聲下載服務效益性別高級庫存購物望着寫作故障對待，某些股市司機可惜，定。
                        </p>
                    </div>
                    <div class="news-footer">
                        <a href="#" class="btn">閱讀更多</a>
                    </div>
                </div>
            </div>
            <div class="news-col">
                <div class="news-card">
                    <div class="news-header">
                        <img src="https://picsum.photos/id/13/500" alt="">
                    </div>
                    <div class="news-body">
                        <h3>卡片標題</h3>
                        <p>
                            決定主題，當中人數但我特性，鈴聲下載服務效益性別高級庫存購物望着寫作故障對待，某些股市司機可惜，定。
                        </p>
                    </div>
                    <div class="news-footer">
                        <a href="#" class="btn">閱讀更多</a>
                    </div>
                </div>
            </div>
            <div class="news-col">
                <div class="news-card">
                    <div class="news-header">
                        <img src="https://picsum.photos/id/12/500" alt="">
                    </div>
                    <div class="news-body">
                        <h3>卡片標題</h3>
                        <p>
                            決定主題，當中人數但我特性，鈴聲下載服務效益性別高級庫存購物望着寫作故障對待，某些股市司機可惜，定。
                        </p>
                    </div>
                    <div class="news-footer">
                        <a href="#" class="btn">閱讀更多</a>
                    </div>
                </div>
            </div>
            <div class="news-col">
                <div class="news-card">
                    <div class="news-header">
                        <img src="https://picsum.photos/id/63/500" alt="">
                    </div>
                    <div class="news-body">
                        <h3>卡片標題</h3>
                        <p>
                            決定主題，當中人數但我特性，鈴聲下載服務效益性別高級庫存購物望着寫作故障對待，某些股市司機可惜，定。
                        </p>
                    </div>
                    <div class="news-footer">
                        <a href="#" class="btn">閱讀更多</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>