<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELLO</title>
    <link rel="stylesheet" href="style-1.css">
</head>
<body>
    <nav>
        <a href="#" class="nav-logo">LOGO</a>
        <div class="nav-menu">
            <a href="#" class="nav-link">Home</a>
            <a href="#about" class="nav-link">About</a>
            <a href="#news" class="nav-link">News</a>
            <a href="#service" class="nav-link">Service</a>
        </div>
    </nav>
    <header>
        <img src="https://picsum.photos/id/91/800/400" alt="">
        <div class="header-text">
            <h1>HELLO</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae voluptatibus debitis vero.
            </p>
        </div>
    </header>
    <section id="about">
        <div class="container row">
            <div class="about-col">
                <h3>about title</h3>
                <p>
                    技術相同十分則是無論基層屏幕年代進一步前進分配忍不住不能，轉帖魅力家長目錄一口氣信號都要多麼編輯主動，加油眼神安全某些麻煩歐洲它的都能友情連結以來出租也在，瘋。
                </p>
            </div>
            <div class="about-col">
                <h3>about title</h3>
                <p>
                    技術相同十分則是無論基層屏幕年代進一步前進分配忍不住不能，轉帖魅力家長目錄一口氣信號都要多麼編輯主動，加油眼神安全某些麻煩歐洲它的都能友情連結以來出租也在，瘋。
                </p>
            </div>
            <div class="about-col">
                <h3>about title</h3>
                <p>
                    技術相同十分則是無論基層屏幕年代進一步前進分配忍不住不能，轉帖魅力家長目錄一口氣信號都要多麼編輯主動，加油眼神安全某些麻煩歐洲它的都能友情連結以來出租也在，瘋。
                </p>
            </div>
        </div>
    </section>
    <section id="news">
        <div class="container row">
            <div class="news-col">
                <div class="news-card">
                    <div class="news-header">
                        <img src="https://picsum.photos/id/93/500" alt="">
                    </div>
                    <div class="news-body">
                        <h3>卡片標題</h3>
                        <p>
                            決定主題，當中人數但我特性，鈴聲下載司機可惜，定。
                        </p>
                    </div>
                    <div class="news-footer">
                        <a href="#" class="btn">閱讀更多</a>
                    </div>
                </div>
            </div>
            <div class="news-col">
                <div class="news-card">
                    <div class="news-header">
                        <img src="https://picsum.photos/id/13/500" alt="">
                    </div>
                    <div class="news-body">
                        <h3>卡片標題</h3>
                        <p>
                            決定主題，當中人數但我特性，鈴聲下載服務效益性別高級庫存購物望着寫作故障對待，某些股市司機可惜，定。
                        </p>
                    </div>
                    <div class="news-footer">
                        <a href="#" class="btn">閱讀更多</a>
                    </div>
                </div>
            </div>
            <div class="news-col">
                <div class="news-card">
                    <div class="news-header">
                        <img src="https://picsum.photos/id/12/500" alt="">
                    </div>
                    <div class="news-body">
                        <h3>卡片標題卡片標題卡題</h3>
                        <p>
                            風險教師而來，學校最高苗栗遵守自信，過去不要認定真是背後在此人群測試日報適應，利益美元過了地下所以深入許可大力新人重新。
                        </p>
                    </div>
                    <div class="news-footer">
                        <a href="#" class="btn">閱讀更多</a>
                    </div>
                </div>
            </div>
            <div class="news-col">
                <div class="news-card">
                    <div class="news-header">
                        <img src="https://picsum.photos/id/63/500" alt="">
                    </div>
                    <div class="news-body">
                        <h3>卡片標題</h3>
                        <p>
                            傢伙創造也有花園年度他說，素質那就登錄一臉感興趣相關內容，版主鎖定學科身影報名不得昨天參與，我的心那就法人工廠更新時間烏日可憐大陸起來我覺得，全文操作知。
                        </p>
                    </div>
                    <div class="news-footer">
                        <a href="#" class="btn">閱讀更多</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="service">
        <div class="container row">
            <div class="service-col">
                <img src="https://picsum.photos/id/42/800/600" alt="">
            </div>
            <div class="service-col">
                <h3>服務項目</h3>
                <p>
                    奧客還沒大幅你的，加入時間有個免費版商標監控生命成本書記手續引導檢查，更加這就是反而大哥三星病人夢幻遭遇好友所有隨時暫無，狀況反正高中一邊大量一種思考可以說動作多媒體晶片，像素播放那裡獲得信心，利用女生總是貿易練習答應必要提高玩家如果不對不得，豐原臉上使。
                </p>
                <a href="#" class="btn">連結</a>
            </div>
            <div class="service-col">
                <img src="https://picsum.photos/id/49/800/600" alt="">
            </div>
            <div class="service-col">
                <h3>服務項目</h3>
                <p>
                    奧客還沒大幅你的，加入時間有個免費版商標監控生命成本書記手續引導檢查，更加這就是反而大哥三星病人夢幻遭遇好友所有隨時暫無，狀況反正高中一邊大量一種思考可以說動作多媒體晶片，像素播放那裡獲得信心，利用女生總是貿易練習答應必要提高玩家如果不對不得，豐原臉上使。
                </p>
                <a href="#" class="btn">連結</a>
            </div>
        </div>
    </section>
    <footer>
        copyrights&copy;2023.Design By Zac
    </footer>
</body>
</html>