* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    width: 100%;
    /* height:65px; */
    padding-block:25px;
    background-color: #540046;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
}
.nav-menu {
    margin-left: auto;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding-inline: 15px;
}
.nav-logo {
    font-weight: bold;
}
/* header */
header {
    width: 100%;
    /* height: 600px; */
    aspect-ratio: 3 / 1;
    /* 
    background-color: #789;
    background-image: url('https://picsum.photos/id/95/1200/600');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    */

    background-color: #ff2525;
    /* 
    空隙問題
    當區塊包住行內時，如果沒有設定高度，就會有4px左右的空隙
    */
}
img {
    display: block;
}
header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* container */
.container {
    max-width: 1200px;
    margin-inline: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
/* about */
#about {
    background-color: #ffeffc;
    padding-block: 120px;
}
#about h3 {
    font-size: 1.6rem;
    text-transform: capitalize;
}
#about p {
    line-height: 1.7rem;
    color: rgb(0 0 0 / .8);
}
.about-col {
    flex: 1 0 400px;
    padding: 15px;
}
/* news */
#news {
    padding-block: 120px;
    background-color: #fff3d4;
}
.news-col {
    flex:1 0 300px;
    padding:15px;
}
.news-card {
    border: 1px solid #b6b6b6;
    border-radius: 8px;
    overflow: hidden;
}
.news-header {
    aspect-ratio: 4 / 3;
    clip-path: polygon(0 0 , 100% 0 , 100% 100%,0 calc(100% - 30px));
}
.news-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news-body {
    padding:12px;
    height: 220px;
    background-color: #fff;

    margin-top: -30px;
}
.news-body p {
    color: rgb(0 0 0 / .8);
    font-size: .9rem;
    line-height: 1.7;
}
.news-footer {
    padding: 12px;
    background-color: #fff;
}

.btn {
    text-decoration: none;
    background-color: #540046;
    color: #fff;
    display: inline-block;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 6px;
    letter-spacing: 1px;
}
