<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            max-width: 1200px;
            gap: 15px;
            margin-inline: auto;
        }
        .item {
            background-color: #ccc;
            flex: 1 1 385px;
            padding: 15px;
        }
    </style>
</head>
<body>
    <div id="app">
        <h2>空氣品質</h2>
        <select name="county" id="county" v-model="selectedCounty">
            <option>請選擇城市</option>
            <template  v-for="c in county">
                <option :value="c">{{c}}</option>
            </template>
        </select>
        <div class="container">
            <div v-for="data in result" class="item">
                <div>
                    {{data.county}} / {{data.sitename}}
                </div>
                <div>空氣品質 {{data.status}}</div>
                <div>AQI:{{data.aqi}}</div>
                <div>一氧化氮:{{data.no}}</div>
                <div>二氧化氮:{{data.no2}}</div>
                <div>PM2.5:{{data['pm2.5']}}</div>
                <div>二氧化硫:{{data.so2}}</div>
            </div>
        </div>
    </div>
    <script>
        let data = new Set(['台北市','桃園市','桃園市','新竹市']);
        console.log(data);
        Vue.createApp({
            data(){
                return {
                    datas:[],
                    selectedCounty:'請選擇城市',
                    selectedDatas:[]
                }
            },
            computed:{
                county(){
                    // let county = [...new Set(this.datas.map(data=>data.county))];
                    // county = new Set(county);
                    // county = Array.from(county);
                    // county = [...county];
                    return [...new Set(this.datas.map(data=>data.county))];
                },
                result(){
                    if(this.selectedCounty === '請選擇城市'){
                        return this.datas;
                    }else{
                        return this.datas.filter(data=>data.county === this.selectedCounty);
                    }
                }
            },
            created(){
                let url ='https://data.epa.gov.tw/api/v2/aqx_p_432?api_key=e8dd42e6-9b8b-43f8-991e-b3dee723a52d&limit=1000&sort=ImportDate%20desc&format=JSON';
                fetch(url)
                .then(res=>res.json())
                .then(data=>{
                    console.log(data);
                    this.datas = data.records;
                })
            }
        }).mount('#app');
    </script>
</body>
</html>