<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <div>
            目前共有{{total}}項清單，
            {{completeTotal}}項完成，
            {{unCompleteTotal}}項未完成
        </div>
        <input type="text" v-model="input">
        <button @click="add()">新增事項</button>

        <h3>未完成</h3>
        <ul>
            <li v-for="todo in unCompleteTodos">
                <input type="checkbox" v-model="todo.isCompleted">
                {{todo.title}}
            </li>
        </ul>
        <h3>已完成</h3>
        <ul>
            <li v-for="todo in completeTodos">
                <input type="checkbox" v-model="todo.isCompleted">
                {{todo.title}}
            </li>
        </ul>
    </div>
    <script>
        Vue.createApp({
            data(){
                return{
                    input:'',
                    todos:[
                        {
                            id: 1,
                            title: '洗衣服',
                            isCompleted: true
                        },
                        {
                            id:2,
                            title:'做作業',
                            isCompleted: false
                        }
                    ]
                }
            },
            methods:{
                add(){
                    if(this.input === ''){
                        alert('請輸入資料');
                        return;
                    }
                    this.todos.push({
                        id: Date.now(),
                        title: this.input,
                        isCompleted: false
                    });
                    this.input = '';
                }
            },
            computed:{
                title(){
                    return '代辦事項清單'
                },
                total(){
                    return this.todos.length;
                },
                completeTodos(){
                    return this.todos.filter(data=>data.isCompleted === true);
                },
                unCompleteTodos(){
                    return this.todos.filter(data=>data.isCompleted === false);
                },
                completeTotal(){
                    return this.completeTodos.length;
                },
                unCompleteTotal(){
                    return this.unCompleteTodos.length;
                }
            }
        }).mount('#app');
    </script>
</body>
</html>